:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* text colors */
  --main-txt-cl: #757575;
  --secondary-txt-cl: #212121;
  --accent-txt-cl: #2196F3;
  --next1-txt-cl: #000000;
  --next2-txt-cl: #FFFFFF;
  --next3-txt-cl: #212121;
  --next4-txt-cl: #AFB1B8;
  /* bacground colors */
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #2f303a;
  --accent-bg-cl: #2196F3;
  --next1-bg-cl: #F5F4FA;
  --new-secondary-bg-cl: #C4C4C4;
  --border-cl: #ECECEC;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header__container, .site-contacts__link, .site-contacts__icon, .modal__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__button, .button {
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  color: var(--next2-txt-cl);
  background-color: var(--accent-bg-cl);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background-color: var(--main-bg-cl);
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.work-description {
  padding-top: 0;
}

.page-header {
  border-bottom: 1px solid var(--border-cl);
}

.page-header__header-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--next1-txt-cl);
}

.page-header__logo-up {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: var(--accent-txt-cl);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--next {
  display: block;
  position: relative;
}

.site-nav__link--next:hover::after, .site-nav__link--next:focus::after {
  opacity: 1;
}

.site-nav__link--next::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-bg-cl);
  opacity: 0;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-txt-cl);
}

.site-nav__link--current::after {
  content: "";
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-bg-cl);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-txt-cl);
}

.site-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.site-contacts__item {
  margin-right: 50px;
}

.site-contacts__item:last-child {
  margin-right: 0;
}

.site-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__link:hover, .site-contacts__link:focus {
  color: var(--accent-txt-cl);
}

.site-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  background-color: var(--main-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  margin: 0 auto;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  margin-left: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-bg-cl);
  cursor: pointer;
}

.modal__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon:hover, .modal__icon:focus {
  fill: var(--accent-bg-cl);
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--next3-txt-cl);
  margin-bottom: 12px;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form__text {
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-txt-cl);
  margin-bottom: 4px;
}

.form__input-box {
  position: relative;
  width: 100%;
}

.form__input {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 11px 42px;
  font-family: inherit;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input-box:hover .form__input,
.form__input-box:focus .form__input {
  border-color: var(--accent-bg-cl);
}

.form__input:focus, .form__input:hover {
  border-color: var(--accent-bg-cl);
  outline: 0;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input-box:hover .form__icon,
.form__input-box:focus .form__icon {
  fill: var(--accent-bg-cl);
}

.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  fill: var(--accent-bg-cl);
}

.form__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.form__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:not(:placeholder-shown) {
  color: var(--main-txt-cl);
}

.form__textarea:focus, .form__textarea:hover {
  border-color: var(--accent-bg-cl);
  outline: 0;
}

.form__checkbox {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--main-bg-cl);
  background-size: contain;
  background-origin: content-box;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:hover .form__check,
.form__checkbox:focus .form__check {
  border-color: var(--accent-bg-cl);
}

.form__input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form__check {
  margin-right: 8px;
  border: 2px solid var(--next3-txt-cl);
  border-radius: 2px;
  --color1: #fff;
  --color2: #fff;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input-checkbox:checked + .form__check {
  background-size: contain;
  background-origin: content-box;
  border: none;
  --color1: #2196f3;
  --color2: #fff;
}

.form__input-checkbox:focus + .form__check {
  border-color: var(--accent-bg-cl);
}

.form__icon-checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.form__checkbox-link {
  color: var(--accent-txt-cl);
}

.form__button {
  padding: 10px 0;
}

.form__button:hover, .form__button:focus {
  background-color: #188CE8;
}

.hero {
  background-color: var(--new-secondary-bg-cl);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--next2-txt-cl);
}

.button:hover, .button:focus {
  background-color: #188CE8;
}

.features__container {
  display: block;
}

.features-list__item {
  margin-bottom: 30px;
}

.features-list__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 479px) {
  .features-list__item {
    width: 450px;
    height: 226px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .features-list__item {
    width: 354px;
    height: 251px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    width: 270px;
    height: 251px;
  }
}

.features-list__item__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 270px;
  margin-bottom: 10px;
  color: var(--secondary-txt-cl);
}

.features-list__item__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.employees {
  background-color: var(--next1-bg-cl);
}

.employees__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--secondary-txt-cl);
}

.team__item {
  background-color: var(--main-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (max-width: 479px) {
  .team__item {
    width: 450px;
    height: 622px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .team__item {
    width: 354px;
    height: 536px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: 270px;
    height: 428px;
  }
}

.team__item:last-child {
  margin-bottom: 0;
}

.team__item .team-person {
  padding: 30px 32px;
}

.team-person__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--secondary-txt-cl);
}

.team-person__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--main-txt-cl);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: inherit;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-bg-cl);
  fill: var(--next2-txt-cl);
}

.socials__icon {
  fill: var(--next4-txt-cl);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--next2-txt-cl);
}
/*# sourceMappingURL=main.css.map */