:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* text colors */
  --main-txt-cl: #757575;
  --secondary-txt-cl: #212121;
  --accent-txt-cl: #2196F3;
  --next1-txt-cl: #000000;
  --next2-txt-cl: #FFFFFF;
  --next3-txt-cl: #212121;
  --next4-txt-cl: #AFB1B8;
  /* bacground colors */
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #2f303a;
  --accent-bg-cl: #2196F3;
  --next1-bg-cl: #F5F4FA;
  --new-secondary-bg-cl: #C4C4C4;
  --border-cl: #ECECEC;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-contacts__link-tel, .site-contacts__link-mail, .modal__btn, .footer-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__button, .button {
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  color: var(--next2-txt-cl);
  background-color: var(--accent-bg-cl);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background-color: var(--main-bg-cl);
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.work-description {
  padding-top: 0;
}

.page-header {
  border-bottom: 1px solid var(--border-cl);
}

.page-header__container {
  position: relative;
}

@media screen and (min-width: 768px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-header__header-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--next1-txt-cl);
}

@media screen and (min-width: 1200px) {
  .page-header__header-logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.page-header__logo-up {
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--accent-txt-cl);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .page-header__logo-up {
    padding: 0;
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header__logo-up {
    font-size: 26px;
    line-height: 1.19;
    margin-right: 93px;
  }
}

.menu-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  top: 10px;
  right: 15px;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-close {
  display: none;
}

.menu-button.is-open .icon-close {
  display: block;
}

.icon-close:hover,
.icon-close:focus,
.icon-menu:hover,
.icon-menu:focus {
  fill: var(--accent-txt-cl);
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-cl);
  padding: 40px 48px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    padding: 0;
  }
}

.menu-container.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
}

@media screen and (min-width: 768px) {
  .menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: static;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.site-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .site-nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 50px;
  }
}

.site-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-txt-cl);
}

@media screen and (min-width: 768px) {
  .site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-txt-cl);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link--next {
    position: relative;
  }
  .site-nav__link--next:hover::after, .site-nav__link--next:focus::after {
    opacity: 1;
  }
  .site-nav__link--next::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-bg-cl);
    opacity: 0;
    -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link--current {
    position: relative;
    color: var(--accent-txt-cl);
  }
  .site-nav__link--current::after {
    content: "";
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-bg-cl);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.link:hover,
.link:focus {
  color: var(--accent-txt-cl);
}

.site-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (max-width: 767.98px) {
  .site-contacts {
    margin-top: auto;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .site-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .site-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767.98px) {
  .site-contacts__item {
    margin-bottom: 32px;
  }
}

.site-contacts__item:first-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .site-contacts__item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .site-contacts__item {
    margin-left: 50px;
  }
}

.site-contacts__link-tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-txt-cl);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__link-tel:hover, .site-contacts__link-tel:focus {
  color: var(--accent-txt-cl);
}

@media screen and (min-width: 768px) {
  .site-contacts__link-tel {
    font-size: 12px;
    line-height: 1.17;
    color: var(--main-txt-cl);
  }
}

.site-contacts__link-mail {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__link-mail:hover, .site-contacts__link-mail:focus {
  color: var(--accent-txt-cl);
}

@media screen and (min-width: 768px) {
  .site-contacts__link-mail {
    font-size: 12px;
    line-height: 1.17;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .site-contacts__link-mail {
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 0;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-contacts__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .site-contacts__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    fill: currentColor;
    margin-right: 10px;
  }
}

.header-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-socials__item {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.header-socials__item:last-child {
  padding-right: 0;
  border-right: none;
}

.header-socials__item:first-child {
  padding-left: 0;
}

@media screen and (min-width: 768px) {
  .header-socials__item {
    display: none;
  }
}

.header-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--accent-txt-cl);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  overflow-y: auto;
  left: 50vw;
  background-color: var(--main-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (max-width: 767.98px) {
  .modal {
    width: 90vw;
    max-height: 100vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .modal {
    width: 450px;
    max-height: 100vh;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    width: 100%;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  background-color: transparent;
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main-bg-cl);
  cursor: pointer;
}

.modal__icon {
  fill: var(--next1-txt-cl);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon:hover, .modal__icon:focus {
  fill: var(--accent-bg-cl);
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--next3-txt-cl);
  margin-bottom: 12px;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.form__text {
  width: 100%;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-txt-cl);
  margin-bottom: 4px;
}

.form__input-box {
  position: relative;
  width: 100%;
}

.form__input {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 11px 42px;
  font-family: inherit;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input-box:hover .form__input,
.form__input-box:focus .form__input {
  border-color: var(--accent-bg-cl);
}

.form__input:focus, .form__input:hover {
  border-color: var(--accent-bg-cl);
  outline: 0;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input-box:hover .form__icon,
.form__input-box:focus .form__icon {
  fill: var(--accent-bg-cl);
}

.form__input:focus + .form__icon,
.form__input:hover + .form__icon {
  fill: var(--accent-bg-cl);
}

.form__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.form__textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:invalid:not(:placeholder-shown) {
  color: rgba(33, 33, 33, 0.2);
}

.form__textarea:focus, .form__textarea:hover {
  border-color: var(--accent-bg-cl);
  outline: 0;
}

.form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  fill: var(--main-bg-cl);
  background-size: contain;
  background-origin: content-box;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:hover .form__check,
.form__checkbox:focus .form__check {
  border-color: var(--accent-bg-cl);
}

.form__input-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.form__check {
  margin-right: 8px;
  border: 2px solid var(--next3-txt-cl);
  border-radius: 2px;
  --color1: #fff;
  --color2: #fff;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input-checkbox:checked + .form__check {
  background-size: contain;
  background-origin: content-box;
  border: none;
  --color1: #2196f3;
  --color2: #fff;
}

.form__input-checkbox:focus + .form__check {
  border-color: var(--accent-bg-cl);
}

.form__icon-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.form__checkbox-link {
  color: var(--accent-txt-cl);
}

.form__button {
  padding: 10px 0;
}

.form__button:hover, .form__button:focus {
  background-color: #188CE8;
}

.hero {
  max-width: 1600px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--new-secondary-bg-cl);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-mobile-1x.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-mobile-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-tablet-1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet-1x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-tablet-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet-2x.jpg");
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-desktop-1x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop-1x.jpg");
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero/hero-desktop-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin: auto;
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--next2-txt-cl);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    max-width: 696px;
    line-height: 1.36;
  }
}

.button:hover, .button:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features-list__item {
  width: 100%;
}

@media screen and (max-width: 767.98px) {
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features-list__item {
    width: calc((100% - 30px) / 2);
  }
  .features-list__item:nth-child(odd) {
    margin-right: 30px;
  }
  .features-list__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    width: calc((100% - 90px) / 4);
  }
  .features-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
  background-color: var(--next1-bg-cl);
  border-radius: 4px;
}

.features-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
  color: var(--secondary-txt-cl);
}

@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: start;
  }
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.work-description__container {
  display: block;
}

.work-description__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
}

.work-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work-list__item {
  position: relative;
  margin-right: 30px;
}

.work-list__item:last-child {
  margin-right: 0;
}

.work-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  line-height: 1.14;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: var(--next2-txt-cl);
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
}

@media screen and (max-width: 1199.98px) {
  .work-description {
    display: none;
  }
}

.employees {
  background-color: var(--next1-bg-cl);
}

.employees__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--secondary-txt-cl);
}

@media screen and (min-width: 1200px) {
  .employees__title {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__item {
  background-color: var(--main-bg-cl);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767.98px) {
  .team__item {
    width: 100%;
  }
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
  .team__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .team__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__item .team-person {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team__item .team-person {
    padding-bottom: 30px;
  }
}

.team-person__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--secondary-txt-cl);
}

.team-person__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--main-txt-cl);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: inherit;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-bg-cl);
  fill: var(--next2-txt-cl);
}

.socials__icon {
  fill: var(--next4-txt-cl);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--next2-txt-cl);
}

.customers__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--next3-txt-cl);
}

@media screen and (min-width: 1200px) {
  .customers__title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.customer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.customer-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  margin: 15px;
  width: calc((100% - 60px) / 2);
  cursor: pointer;
  color: var(--next4-txt-cl);
  border: 1px solid var(--next4-txt-cl);
  background-color: var(--main-bg-cl);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-list__item:nth-child(2n) {
  margin-right: 0;
}

.customer-list__item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .customer-list__item {
    width: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customer-list__item {
    width: calc((100% - 180px) / 6);
  }
}

.customer-list__item:hover, .customer-list__item:focus {
  border-color: var(--accent-txt-cl);
}

.customer-list__link {
  color: var(--main-txt-cl);
}

.customer-list__icon {
  fill: var(--next4-txt-cl);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-list__link:hover .customer-list__icon,
.customer-list__link:focus .customer-list__icon {
  fill: var(--accent-txt-cl);
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-cl);
}

@media screen and (min-width: 768px) {
  .page-footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer-block-contacts {
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1199.98px) {
  .footer-block-contacts {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-block-contacts {
    margin-bottom: 0;
    margin-left: 0;
  }
}

.footer-block-contacts__logo-down {
  margin-bottom: 20px;
  display: inline-block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-txt-cl);
}

.footer-block-contacts__footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--next2-txt-cl);
}

.footer-contacts {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-contacts__item {
  margin-bottom: 9px;
}

.footer-contacts__item:last-child {
  margin-bottom: 0px;
}

.footer-contacts__address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--next2-txt-cl);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__mail, .footer-contacts__phone {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-txt-cl);
}

.socials-join {
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1199.98px) {
  .socials-join {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .socials-join {
    margin-bottom: 0;
  }
}

.socials-join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--next2-txt-cl);
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-socials__link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--accent-bg-cl);
}

.footer-socials__item:not(:last-child) {
  margin-right: 10px;
}

.footer-socials__icon {
  fill: var(--next2-txt-cl);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:hover .footer-socials__icon,
.footer-socials__link:focus .footer-socials__icon {
  fill: var(--next2-txt-cl);
}

.footer-form {
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    text-align: start;
    width: 570px;
    margin-left: auto;
  }
}

.footer-form__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--next2-txt-cl);
}

.footer-email {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .footer-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-email__input {
  padding: 15px 16px;
  max-width: 450px;
  width: 100%;
  height: 50px;
  background-color: var(--secondary-bg-cl);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .footer-email__input {
    width: 358px;
    margin-right: 12px;
  }
}

.footer-email__input:hover, .footer-email__input:focus {
  border-color: var(--accent-bg-cl);
}

.footer-email__input:not(:placeholder-shown) {
  color: var(--next2-txt-cl);
}

.footer-button-icon {
  margin-left: 10px;
}

.button {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .button {
    margin-top: 0;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio__container {
  display: block;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.filter-list__button {
  -ms-flex-preferred-size: calc((100% - 16px) / 3);
      flex-basis: calc((100% - 16px) / 3);
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  background-color: var(--next1-bg-cl);
  cursor: pointer;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__button:hover, .filter-list__button:focus {
  background-color: var(--accent-bg-cl);
  color: var(--next2-txt-cl);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list__button--active {
  background-color: var(--accent-bg-cl);
  color: var(--next2-txt-cl);
}

.filter-list__item {
  margin-bottom: 15px;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .filter-list__item {
    margin-bottom: 0;
  }
}

.filter-list__item:last-child {
  margin-right: 0;
}

.filter-list__item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .work-examples-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.work-examples-list__item {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .work-examples-list__item {
    width: calc((100% - 30px) / 2);
  }
  .work-examples-list__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .work-examples-list__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .work-examples-list__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .work-examples-list__item:nth-of-type(3n) {
    margin-right: 0;
  }
  .work-examples-list__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.work-examples-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-list__link:hover, .work-examples-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.container-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-examples-list__link:hover .container-overlay,
.work-examples-list__link:focus .container-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container-overlay__text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  color: var(--next2-txt-cl);
}

.work-details {
  padding: 20px 24px 20px 24px;
  border: 1px solid var(--border-cl);
  border-top: none;
  background-color: var(--main-bg-cl);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .work-details {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.work-details__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-txt-cl);
  margin-bottom: 4px;
}

.work-details__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
/*# sourceMappingURL=main.css.map */