:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* text colors */
  --main-txt-cl: #757575;
  --secondary-txt-cl: #212121;
  --accent-txt-cl: #2196F3;
  --next1-txt-cl: #000000;
  --next2-txt-cl: #FFFFFF;
  --next3-txt-cl: #212121;
  --next4-txt-cl: #AFB1B8;
  /* bacground colors */
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #2f303a;
  --accent-bg-cl: #2196F3;
  --next1-bg-cl: #F5F4FA;
  --new-secondary-bg-cl: #C4C4C4;
  --border-cl: #ECECEC;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header__container, .site-contacts__link, .site-contacts__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
  background-color: var(--main-bg-cl);
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (max-width: 479px) {
  .container {
    width: 480px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 479px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.work-description {
  padding-top: 0;
}

.page-header {
  border-bottom: 1px solid var(--border-cl);
}

.page-header__header-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--next1-txt-cl);
}

.page-header__logo-up {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: var(--accent-txt-cl);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--next {
  display: block;
  position: relative;
}

.site-nav__link--next:hover::after, .site-nav__link--next:focus::after {
  opacity: 1;
}

.site-nav__link--next::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-bg-cl);
  opacity: 0;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-txt-cl);
}

.site-nav__link--current::after {
  content: "";
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-bg-cl);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
  color: var(--accent-txt-cl);
}

.site-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.site-contacts__item {
  margin-right: 50px;
}

.site-contacts__item:last-child {
  margin-right: 0;
}

.site-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts__link:hover, .site-contacts__link:focus {
  color: var(--accent-txt-cl);
}

.site-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.features__container {
  display: block;
}

.features-list__item {
  margin-bottom: 30px;
}

.features-list__item:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 479px) {
  .features-list__item {
    width: 450px;
    height: 226px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .features-list__item {
    width: 354px;
    height: 251px;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__item {
    width: 270px;
    height: 251px;
  }
}

.features-list__link {
  display: block;
  width: 450px;
  height: 120px;
  padding: 25px 190px 25px 190px;
  margin-bottom: 30px;
  background-color: var(--next1-bg-cl);
  border-radius: 4px;
}

.features-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: var(--secondary-txt-cl);
}

.features-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}
/*# sourceMappingURL=mobile.css.map */