.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    overflow-y: scroll;
    
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 450px;
    height: 609px;    
    background-color: var(--main-bg-cl);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    margin: 0 auto;

    &__btn {
        @extend %centeredFlex;
        position: absolute;
        top: 8px;
        right: 8px;
        margin-left: auto;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: var(--main-bg-cl);
        cursor: pointer;
    }

    &__icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            fill: var(--accent-bg-cl);
        }
    }
}

.form__title {
    width: 370px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--next3-txt-cl);
    margin-bottom: 12px;
}

.form__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.form__text {
    width: 100%;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--main-txt-cl);
    margin-bottom: 4px;
}

.form__input-box {
    position: relative;
    width: 100%;
}

.form__input {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 11px 42px;
    font-family: inherit;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form__input-box:hover &,
    .form__input-box:focus & {
        border-color: var(--accent-bg-cl);
    }

    &:focus,
    &:hover {
        border-color: var(--accent-bg-cl);
        outline: 0;
    }
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form__input-box:hover &,
    .form__input-box:focus & {
        fill: var(--accent-bg-cl);
    }
}

.form__input:focus+.form__icon,
.form__input:hover+.form__icon {
    fill: var(--accent-bg-cl);
}

.form__comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form__textarea {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    font-family: inherit;
    font-size: inherit;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:invalid:not(:placeholder-shown) {
        color: rgba(33, 33, 33, 0.2);
    }

    &:focus,
    &:hover {
        border-color: var(--accent-bg-cl);
        outline: 0;
    }
}

.form__checkbox {
    width: 370px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--main-bg-cl);
    background-size: contain;
    background-origin: content-box;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:hover .form__check,
.form__checkbox:focus .form__check {
    border-color: var(--accent-bg-cl);
}

.form__input-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.form__check {
    margin-right: 8px;
    border: 2px solid var(--next3-txt-cl);
    border-radius: 2px;
    --color1: #fff;
    --color2: #fff;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form__input-checkbox:checked+& {
        background-size: contain;
        background-origin: content-box;
        border: none;
        --color1: #2196f3;
        --color2: #fff;
    }

    .form__input-checkbox:focus+& {
        border-color: var(--accent-bg-cl);
    }
}

.form__icon-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    color: var(--main-txt-cl);
}

.form__checkbox-link {
    color: var(--accent-txt-cl);
}

.form__button {
    @extend %button;
    padding: 10px 0;

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}