.customers__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;

    color: var(--next3-txt-cl);
}

.customer-list {
             display: flex;
            flex-wrap: wrap;
            margin: -15px;
                   
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92px;
        margin: 15px;
        width: calc((100% - 60px) / 2);

        @media screen and (min-width: 768px) and (max-width: 1199.98px) {
                width: calc((100% - 90px) / 3);
            }
        
            @media screen and (min-width: 1200px) {
                width: calc((100% - 180px) / 6);
            }

        cursor: pointer;

        color: var(--next4-txt-cl);
        border: 1px solid var(--next4-txt-cl);
        background-color: var(--main-bg-cl);
        border-radius: 4px;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            border-color: var(--accent-txt-cl);
        }
}

&__link {
    display: flex;
    padding: 16px 52px;
    color: var(--main-txt-cl);
}

&__icon {
    fill: var(--next4-txt-cl);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .customer-list__link:hover &,
    .customer-list__link:focus & {
        fill: var(--accent-txt-cl);
    }
}
}