.hero {
    background-color: var(--new-secondary-bg-cl);
    // padding-top: 118px;
    // padding-bottom: 118px;
    max-width: 480px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/mobile/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__container {
        padding: 118px 60px;
    }

    &__title {
        margin: 0 auto;
        margin-bottom: 30px;
        width: 360px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: var(--next2-txt-cl);
    }
}

.button {
    @extend %button;

    &:hover,
    &:focus {
        background-color: #188CE8;
    }
}