.work-description__container {
    display: block;
}

.work-description__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-txt-cl);
}

.work-list {
    display: flex;

    &__item {
        position: relative;
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__text {
        display: flex;
        font-weight: 700;
        line-height: 1.14;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;

        color: var(--next2-txt-cl);
        background-color: rgba(47, 48, 58, 0.8);

        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70px;
    }
}

.work-description {
    @media screen and (max-width: 1199.98px){
    display: none;}
}