.features__container {
    display: block;
}

.features-list {
    display: flex;

    &__item {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        display: block;
        width: 270px;
        height: 120px;
        padding: 25px 100px 25px 100px;
        margin-bottom: 30px;
        background-color: var(--next1-bg-cl);
        border-radius: 4px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        width: 270px;
        margin-bottom: 10px;

        color: var(--secondary-txt-cl);
        
    }

    &__text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--main-txt-cl);
    }
}