.page-header {
    border-bottom: 1px solid var(--border-cl);

    &__container {
        @extend %centeredFlex;
    }

    &__header-logo {
        font-family: var(--secondary-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;

        color: var(--next1-txt-cl);
    }

    &__logo-up {
        font-family: var(--secondary-font);
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        margin-right: 93px;

        color: var(--accent-txt-cl);
    }
}

.site-nav {
    display: flex;

    &__item {
        margin-right: 50px;
    }

    &__item:last-child {
        margin-right: 0;
    }

    &__link {
        
        padding-top: 32px;
        padding-bottom: 32px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

        color: var(--secondary-txt-cl);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &--next {
            display: block;
            position: relative;

            &:hover::after,
            &:focus::after {
                opacity: 1;
            }
        }

        &--next::after {
            content: "";

            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-bg-cl);
            opacity: 0;
            transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        &--current {
            position: relative;
            color: var(--accent-txt-cl);
        }

        &--current::after {
            content: "";
            border-radius: 2px;
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--accent-bg-cl);
            transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

.link:hover,
.link:focus {
    color: var(--accent-txt-cl);
}

.site-contacts {
    display: flex;
    margin-left: auto;

    &__item {
        margin-right: 50px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        @extend %centeredFlex;

        padding-top: 32px;
        padding-bottom: 32px;
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;


        color: var(--main-txt-cl);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-txt-cl);
        }
    }

    &__icon {
        @extend %centeredFlex;

        fill: currentColor;
        margin-right: 10px;
    }
}