:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* text colors */
    --main-txt-cl: #757575;
    --secondary-txt-cl: #212121;
    --accent-txt-cl: #2196F3;
    --next1-txt-cl: #000000;
    --next2-txt-cl: #FFFFFF;
    --next3-txt-cl: #212121;
    --next4-txt-cl: #AFB1B8;

    /* bacground colors */

    --main-bg-cl: #ffffff;
    --secondary-bg-cl: #2f303a;
    --accent-bg-cl: #2196F3;
    --next1-bg-cl: #F5F4FA;
    --new-secondary-bg-cl: #C4C4C4;

    --border-cl: #ECECEC;
}
